<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://endtoendtranscactiontime.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66b89049-c2e6-4d7f-b2cb-68363235fe63/resourceGroups/EndToEnd_RG/providers/Microsoft.Web/sites/endtoendtranscactiontime</ResourceId>
    <UserName>$endtoendtranscactiontime</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://endtoendtranscactiontime.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>